/* Home.css */
.home-container {
    display: flex;
  }
  
  .home-content {
    margin-left: 250px; /* Mantém o espaço do sidebar */
    padding: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Garante que o conteúdo fique centralizado */
    text-align: center;
  }
  